{"name":"Rules","locked":true,"stickied":true,"creator":"Administrator","posts":[{"username":"Administrator","text":"No explicit rules yet, don\u0027t do bad things, ok?\u003cp\u003eTesting multiline.","timePosted":1414625327417,"postID":1},{"username":"Cactose","text":"Cool rules bb","timePosted":1414625356462,"postID":13},{"username":"Cactose","text":"5xbgfdgfhdgfh","timePosted":1414627199220,"postID":41}]}
